ul{
  list-style: none;
}
li > a {
  color:black;
}
/* Nav */
._3GJBrAAVj9zoLY35nDdywK {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style: none;
  }  
  ._1LMZmj1eaxbBzWRe6CHe_h {
    display: inline;
    padding: 15px; 
  }
  ._1LMZmj1eaxbBzWRe6CHe_h > a {
    color: #adb5bd;
  }  

/* Intro*/  
.qxQwXxKdqKieysafloM9h {
    min-height: 100vh;
    background: linear-gradient( 45deg, #ffd89b,#19547b );
    width: 100%;
    color: #333;
  }
  ._1CFy6WMYvnHUT4C_VOUFly {
    width: 100%;
    padding-top: 200px;
    padding-bottom: 50px;
    line-height: 1.15;
    font-weight: bold;
    font-size: 5rem;
  }
  ._1CFy6WMYvnHUT4C_VOUFly,
  .azskmLN1oWBiGGdlTdLuz {
    text-align: center;
    color: white;
  }
  .azskmLN1oWBiGGdlTdLuz {
    margin: 40px auto;
    
    font-weight: 200;
    color: #fff;
    font-size: 1.5rem;
    max-width: 70%;
  }

  /* Profile */
  ._2eU8NU2bTT8Lx_3takbyMs, .QRDKV1l8PAibTkleVvd8W{
    min-height: 100vh;
    background-color: #f8f9fa;
    margin-top:  10px;
    width: 100%;
  }
  ._2giUgKBpziLN0HsmtJecXJ, ._3Wz4Bng6Vqgxat9Ke55OUd {
    padding-top: 100px;
    padding-bottom: 20px;
    text-align: center;
    text-decoration: underline #19547b;
  }
  ._1BGvQGLBLr8QW_vO5XFkRt {
    margin-top: 20px;
    margin: 0 auto;
    padding:10px;
  }
  ._1n_cQ5J7xi147xtwNp4kWU{
    font-weight: bold;
    color: #19547b;
  }
  ._38rPsz96XEhTYr-14c-fGC {
    text-align: right;
  }
  ._38rPsz96XEhTYr-14c-fGC > a {
    color: black;
  }
  
  /* project */
  ._2wtstStfFewLOY3Aef2JtF > div{
    display: flex;
    flex-wrap: wrap;
  }
  ._1XOxJlBueYtXbijAXOg9gZ, ._1HSZU0d3jpdiTHT9FwXrR_ {
    text-align: center;
    padding-bottom: 20px;
  }
